html {
    color: white;
    font-size: large;
}

body {
    background-color: #003459
}

main section:not(.categorie) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
    margin: 3vw 3vw 0 3vw;
}

.parcours {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    row-gap: 3vh;
}

.categorie:hover {
    transition: 0.3s ease;
    background-color: #003c66;
    cursor: pointer;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    width: 68vw;
    margin-left: 3vw;
}


.categorie {
    width: 80vw;
    height: 70px;
    display: flex;
    background-color: #014372;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.categorie .logos {
    display: flex;
    width: 3vw;
    height: 3vw;
    filter: invert(100%) sepia(0%) saturate(4091%) hue-rotate(7deg) brightness(110%) contrast(107%);

}

.categorie svg {
    width: 2vw;
    height: 2vw
}

.questions {
    font-size: larger;
    margin: 0 5vw 0 0
}

.reponses {
    margin: 2vh;
    width: 80vw;
}

.arrow--opened {
    rotate: 90deg;
    transition-property: rotate;
    transition-duration: 0.4s;
}

.arrow--closed {
    rotate: 0deg;
    transition-property: rotate;
    transition-duration: 0.4s;

}

.panel--closed {
    display: none;
    max-height: 0;
    transition: max-height 0.4s;
}

.panel--opened {
    display: flex;
    width: 80vw;
    transition: max-height 0.4s;
    background-color: #003c66;
    font-size: medium;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.description {
    width: auto;
    padding: 3vh 3vh;
    margin-left: 0
}

.button {
    margin-bottom: 3vh;
    background-color: #007ea7;
    border-radius: 20px;
    padding: 1vh;
}