body {
    margin: 0px
}

html {
    color: white;
    font-family: "Open Sans";
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #00A8E8;
}

header .div1 {
    margin-left: 2vw;
    width: 20vw;
    font-size: larger;
}

header .div2 {
    width: 70vw
}

header .div3 {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
}

header img {
    width: 20%;
    height: 20%;
}

header .instagram {
    filter: invert(100%) sepia(0%) saturate(4091%) hue-rotate(7deg) brightness(110%) contrast(107%);
}

body {
    background-color: #003459
}

main section:not(.parcours) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 70vw;
}

article {
    margin-top: 10vh;
    display: flex;
    height: 60vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    width: 67vw;
    margin-left: 3vw;
}


.parcours {
    width: 80vw;
    height: 5vw;
    display: flex;
    background-color: #014372;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.parcours img {
    display: flex;
    width: 3vw;
    height: 3vw;
    filter: invert(100%) sepia(0%) saturate(4091%) hue-rotate(7deg) brightness(110%) contrast(107%);

}

.parcours svg {
    width: 2vw;
    height: 2vw
}